header {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Full viewport height */
  width: 200vh; /* Ensure it takes the full width of the screen */
}
body{
  background-image: "assets/SWOT.jpg";
}
SignInButton{
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 32px;
  cursor: pointer;
}
.logo{
  align-items: center;
  justify-content: center;
  height: 40vw;
  width: 210vh;
  
}
